/* Page Setup */

:root {
  /* Global Variables */

  --une-blue: #009edb;
  --une-white: #FFF;
  --une-light-grey: #F2F2F2;
  --une-dark-grey: #333333;
  --une-dark-grey-transparent: #33333380;
  --une-grey: #4D4D4D;
  --une-logo-font: 'Roboto Condensed', sans-serif;
  --une-body-font: 'Roboto', sans-serif;

  /* Resets */
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 1.4rem;
  font-family: var(--une-body-font);
  color: var(--une-dark-grey);
  background-color: var(--une-light-grey);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

/* Sidebar */

.sidebar {
  flex: 4 0 40vw;
  position: relative;
  height: 100%;
  background: url(img/mil-group.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Logo & Overlay */

.logo-section {
  width: 100%;
  flex: 2 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.une-logo {
  max-height: 200px;
  width: auto;
  margin-bottom: 2rem;
}

.une-text {
    color: var(--une-white);
    font-family: var(--une-logo-font);
    font-size: 4rem;
    font-weight: bold;
}

.une-subtext {
  color: var(--une-white);
  font-family: var(--une-logo-font);
  font-size: 2.5rem;
  font-weight: bold;
}

.transparent {
  position: absolute;
  height: 35%;
  width: 100%;
  background-color: var(--une-dark-grey-transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 10%;
}

/* Logo & Photo Credits */

.credit-section {
  width: 100%;
  flex: 0 1 5vh;
  text-align: center;
}

.credit {
  font-size: 1.4rem;
  color: var(--une-white);
  margin-bottom: .8rem;
}

.credit a {
  color: var(--une-blue);
}

/* Main Content */

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prompt-header {
    font-size: 4.5rem;
    font-family: var(--une-logo-font);
    font-weight: bold;
    margin-bottom: 2rem;
}

.prompt-body {
    width: 95%;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.intro-text, .form-margin, .form-footer {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
}

.form-footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sign-up {
  background-color: var(--une-white);
}

.form-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-row {
    display: flex;
    gap: 6rem;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.form-title {
    font-weight: 500;
    color: var(--une-dark-grey);
    font-size: 2.2rem;
    margin: 2rem 0;
}

label {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

input {
  width: 20rem;
    padding: 0.8rem 1rem;
    border-radius: .45rem;
    border: solid .2rem var(--une-light-grey);
}

/* Components */

.btn-submit {
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: .8rem;
    background-color: var(--une-blue);
    box-shadow: .1rem .1rem var(--une-dark-grey);
    cursor: pointer;
    color: var(--une-white);
    font-family: var(--une-logo-font);
    font-size: 2rem;
    font-weight: bold;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.log-in {
  font-size: 1.6rem;
}

.log-in a {
  color: var(--une-blue);
}

/* .form-container {
  width: 100%;
  height: 25vh;
  background-color: light-grey;
}

.sign-up-form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.row-one,
.row-two,
.row-three {
  width: 100%;
  display: flex;
  gap: 8vh;
  margin-left: 4vh;
} */
