:global(body) {
    height: 100vh;
    font-size: 1.4rem;
    font-family: var(--une-body-font);
    color: var(--une-dark-grey);
    background-color: var(--une-light-grey);
}

.intro-text, .form-margin, .form-footer {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
}