:root {
    --une-blue: #009edb;
    --une-white: #FFF;
    --une-light-grey: #F2F2F2;
    --une-dark-grey: #333333;
    --une-dark-grey-transparent: #33333380;
    --une-grey: #4D4D4D;
    --une-logo-font: 'Roboto Condensed', sans-serif;
    --une-body-font: 'Roboto', sans-serif;

    font-size: 62.5%;
    box-sizing: border-box;
}